### lecture 1 - time series

In [51]:
from datetime import datetime
import numpy as np
import pandas as pd

In [27]:
my_year = 2024

In [28]:
my_month = 12

In [29]:
my_day = 27

In [30]:
my_hour = 16

In [31]:
my_min = 30

In [32]:
my_sec = 15

In [33]:
my_date = datetime(my_year,my_month,my_day)

In [34]:
my_date # we have also hour and minute automatically set to 0 by default

datetime.datetime(2024, 12, 27, 0, 0)

In [35]:
my_date_time = datetime(my_year,my_month,my_day,my_hour,my_min,my_sec)

In [36]:
my_date_time

datetime.datetime(2024, 12, 27, 16, 30, 15)

In [37]:
my_date_time.day

27

In [38]:
my_date_time.hour

16

In [39]:
type(my_date_time)

datetime.datetime

In [44]:
np.array(['2020-03-15','2020-03-16','2020-01-17'],dtype='datetime64') # day level precision

array(['2020-03-15', '2020-03-16', '2020-01-17'], dtype='datetime64[D]')

In [45]:
np.array(['2020-03-15','2020-03-16','2020-01-17'],dtype='datetime64[Y]') # year level precision

array(['2020', '2020', '2020'], dtype='datetime64[Y]')

In [47]:
np.array(['2020-03-15','2020-03-16','2020-01-17'],dtype='datetime64[h]') # hour level precision

array(['2020-03-15T00', '2020-03-16T00', '2020-01-17T00'],
      dtype='datetime64[h]')

In [49]:
np.arange('2018-06-01','2018-06-23',7,dtype='datetime64[D]') # from start to end every 7 days

array(['2018-06-01', '2018-06-08', '2018-06-15', '2018-06-22'],
      dtype='datetime64[D]')

In [50]:
np.arange('1968','1976',dtype='datetime64[Y]')

array(['1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975'],
      dtype='datetime64[Y]')

#### date time with pandas

In [52]:
pd.date_range('2020-01-01',periods=7,freq='D')

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07'],
              dtype='datetime64[ns]', freq='D')

In [55]:
pd.date_range('Jan 01, 2018',periods=7,freq='D')

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07'],
              dtype='datetime64[ns]', freq='D')

In [70]:
pd.to_datetime(['1/2/2018', '1/3/2018']) # american format

DatetimeIndex(['2018-01-02', '2018-01-03'], dtype='datetime64[ns]', freq=None)

In [71]:
pd.to_datetime(['1/2/2018', '1/3/2018'],format='%d/%m/%Y') # european format

DatetimeIndex(['2018-02-01', '2018-03-01'], dtype='datetime64[ns]', freq=None)

In [72]:
pd.to_datetime(['1--2--2018', '1--3--2018'],format='%d--%m--%Y')

DatetimeIndex(['2018-02-01', '2018-03-01'], dtype='datetime64[ns]', freq=None)

In [79]:
data = np.random.randn(3,2)
cols = ['A','B']

In [80]:
idx = pd.date_range('2020-01-01',periods=3,freq='D')

In [82]:
df = pd.DataFrame(data,index=idx,columns=cols)

In [84]:
df

                   A         B
2020-01-01 -0.775266 -0.752600
2020-01-02  0.107771  1.468453
2020-01-03 -1.074993 -1.555370

In [85]:
df.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03'], dtype='datetime64[ns]', freq='D')

In [86]:
df.index.max()

Timestamp('2020-01-03 00:00:00')

In [87]:
df.index.min()

Timestamp('2020-01-01 00:00:00')